/* construction globale */

body {
    display: flex;
    flex-direction : column;
    align-items : center;
    background : linear-gradient(rgb(255, 0, 0, 0.2),rgb(255, 0, 0, 0.2)), url(./Images/concert.png);
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;
    background-attachment: fixed;
    min-height : 100vh;
}

h1, h2, h3, h4, h5, h6{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    color : rgb(255,255,255,1);
}
#title{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    color : white;
    align-self : center;
    border: 3px solid red;
    border-radius : 20px;
    padding: 1vh 1vh;
    -webkit-text-stroke : 0.5px red;
    background-color : rgb(0,0,0,0.65);
}

p{
    font-family :  'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size : 1em;
}

main{
    flex: 1;
    display : flex;
    flex-direction : column;
    align-items: center;
}

/* En-tête */

header{
    top : 0px;
    margin : 3vh;
    text-align : center;
    border-radius : 20px;
    width : 1500px;
    max-width : 100vw;
}

#conteneurCTA{
    width : 100vw;
    text-align : center;
    margin-bottom : 20px;
}

/* boutons */

.primary-button{
    display: block;
    background-color : rgb(255,0,0,0.50);
    border : solid black 2px;
    color : #FFFFFF;
    text-decoration: none;
    transition: all 0.2s linear 0s ;
}
#CTA{
    border-radius : 20px;
    font-size : 3rem;
}

.primary-button:hover{
    opacity: 1;
    box-shadow: 0 3px 0 2px rgba(0,0,0,0.5);
    transform : translateY(-3px);
    background-color: #ff1a1a;
}

.secondary-button{
    background-color : white;
    color : red;
    border : 1px solid red;
    border-radius : 5px;
    transition: all 0.2s linear 0s;
    text-decoration : none;
    padding : 5px 10px;
}

.secondary-button:hover{
    background-color : red;
    color : white;
}

/* Carousel */

.card {
  display: flex;
  flex-direction: column;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color : rgb(0,0,0);
  margin-bottom : auto;
}

.card-title{
    text-align : center;
    color : red;
}

.card-text{
    color : white;
}

.conteneurBoutonCarousel{
    display : flex;
    justify-content : center;
    background-color : black;
    padding-bottom : 20px;
}

.card-button{
    text-align: center;
}

.carousel-control-prev,
.carousel-control-next{
    display: flex;
    align-items : flex-start;
    padding-top : 270px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    opacity : 0.5;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover{
    opacity: 1; 
}

.card-text-reseau{
    margin-left : 3em;
}
.lienRS{
    text-decoration: none;
}
.textRS{
    color : white;
    margin-left : 3em;
}
.textRS:hover,
textRS:focus{
    text-decoration : underline;
}

/* icones reseau */

.iconReseau{
    width : 40px;
    height: 40px;
    fill : white;
    left : 50px;
}
/* Nous contacter */

#nousContacter{
    margin-top : 3em;
    margin-bottom : 2em;
    padding : 1em;
    border : 2px solid white;
    border-radius : 20px;
    color : white;
    background-color : rgb(0,0,0,0.70);
}

/* footer */

footer{
    display: flex;
    width : 100vw;
    justify-content: flex-end;
    padding : 0 5vw;
    color: white;
}

/* classes cachées pour lecteur écran */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* media queries */
@media(max-width : 992px){

    #CTA,h1{
        font-size : 2rem;
    }
}

