/* construction globale */

body{
    display:flex;
    flex-direction : column;
    align-items : center;
    background: linear-gradient(rgb(255, 0, 0, 0.2),rgb(255, 0, 0, 0.2)), url(./Images/concert.png);
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
    background-attachment: fixed;
    min-height : 100vh;
}   

h1, h2, h3, h4, h5, h6{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    color : #FFFFFF;
}

p{
    font-family :  'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size : 1rem;
}

main{
    flex: 1;
    display : flex;
    flex-direction : column;
    align-items: center;
}

/* En-tête */

header{
    display : flex;
    align-items : center;
    top : 0px;
    margin : 3vh;
    border-radius : 20px;
    width : 1500px; 
    max-width : 100vw;
    border: 3px solid red;
    background-color : rgb(0,0,0,0.65);
    padding: 1vh;
}

#home {
    fill : white;
    width: 3rem;
    height: 3rem;
}


#title{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    color : white;
    border-radius : 20px;
    -webkit-text-stroke : 0.5px red;
    margin : 0 auto;
}

/* boutons */

.primary-button{
    background-color : rgb(255,0,0,0.50);
    border : solid black 2px;
    color : #FFFFFF;
    transition: all 0.2s linear 0s ;
    padding : 10px 20px;
}
.primary-button:hover{
    opacity: 1;
    box-shadow: 0 3px 0 2px rgba(0,0,0,0.5);
    transform : translateY(-3px);
    background-color: #ff1a1a;
}

.secondary-button{
    background-color : white;
    color : red;
    border : 1px solid red;
    border-radius : 5px;
    transition: all 0.2s linear 0s;
    text-decoration : none;
    padding : 5px 10px;
}

.secondary-button:hover{
    background-color : red;
    color : white;
}

/* champs de texte */

input{
    display: block;
    border : 1px solid #F2F2F2;
    background-color : white;
    color : black;
}

input::placeholder{
    color :#CCCCCC;
}

/* champ de recherche */
#searchContainer{
    position : relative;
    display: flex;
    flex-direction: column;
    align-self :first baseline;
    width : 375px;
    max-width:100%;
    margin-bottom : 3vh;
}

#form{
    position : sticky;
    top : 0;
    margin-bottom : 0.2rem;
}

#searchBarre{
    width: 100%;
    height : 3rem;
    border-radius : 20px;
    text-align : center;

}

#loupe{
    position : absolute;
    right: 5px;
    top : 10px;
    color: black;
    background-color : transparent;
    cursor : pointer;
    border : none;
}


#suggestionContainer{
    overflow-y: auto;
    max-height : 6rem;
    position : absolute;
    top : 100%;
    z-index:70;
    width : 100%;
    
}
#suggestionContainer div {
    display:flex;
    flex-direction : column;
    background-color: rgb(255,255,255,1);
    padding: 0.5em;
    margin: 0.2em 0;
    border-radius: 5px;
    cursor: pointer;
    height : 2rem;

    
}
#suggestionContainer div:hover{
     color : #FF0000;
}

/* paramètrage du tableau */

.centreur{
    margin : 0 auto;
    width : 1500px;
    max-width : 90vw;
}

.scrolleur{
    position : sticky;
    overflow-y: auto;
    width : 1500px;
    max-width : 90vw;
    height : 60vh;
    background-color : rgba(242, 242, 242, 0.5);
}


table{
    width : 100%;
}

tr{
    height : 7vh; 
    text-align : center;
    color : #F2F2F2;
}

tr:nth-child(even){
    background-color : rgba(0,0,0,0.8);
}

tr:nth-child(odd){
    background-color : rgba(0,0,0,0.55);
}

tr:nth-child(even):hover{
    background-color : rgba(0,0,0,0.9);
    cursor : text;
}

tr:nth-child(odd):hover{
    background-color : rgba(0,0,0,0.65);
    cursor : text;
}

th{
    position: sticky;
    top : 0;
    background-color : black;
    text-align : center;
    padding : 0.5em;
    box-sizing: border-box;
    min-width : 0;
    font-size : 2em;
    color : rgba(255,0,0,0.7)
}

td{
    text-align : center;
    padding : 0.5em;
    box-sizing: border-box;
    font-size : 1.5em;
}


/* Gestion de la modale*/

.openModal{
    border-radius : 10px;
}

.closeModal,
#retour{
    position : absolute;
    top :-1em !important;
    color : white;
    background-color : black;
    width : 30px;
    height : 30px;
    border : 1px solid white;
    border-radius : 50%;
}

.closeModal{
    right : -1em;
}

#returnIcon{
    fill : white;
    background-color: black;
    width : 30px;
    height : 30px;
    border-radius: 50%;
}

#retour{
    display:flex;
    left : -1em;
    padding: 0;
}

.legend{
    margin-top : 0.5em;
}
.textInsert{
    display : inline-block;
    margin-right : 2em;
    font-weight: bold;
}

#total{
    margin-right : 0;
}

.warningIcon{
    fill : red;
    background-color: yellow;
}
.mandatory{
    color:red;
}

#modalTitleConteneur{
    text-align : center;
    margin-bottom : 2em;
}
#modalCoreMessage{
    display: flex;
    justify-content : center;
    flex-wrap: wrap;
}

legend{
    text-decoration : underline;
    font-size : 2em;
}

#inputConteneur{
    display : grid;
    grid-template-columns : 1fr 1fr;
    padding : 10px;
}


.conteneurLabelInput{
    margin : 5px 10px;
}

/* pop-up*/
.popUp{
    overflow: visible;
    border-radius : 20px;
    border : 2px solid black;
    text-align : center;
}
.popUpText{
    margin : 2em;
}

/* Nous contacter */

#nousContacter{
    margin-top : 3em;
    margin-bottom : 2em;
    padding : 1em;
    border : 2px solid white;
    border-radius : 20px;
    color : white;
}

/* footer */
footer{
    display: flex;
    width : 100vw;
    justify-content: flex-end;
    padding : 0 5vw;
    color: white;
}

/* classes cachées pour lecteur écran */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

